[submodule "cc-connect"]
	path = modules/cc-connect
	url = https://github.com/scottzx/cc-connect
[submodule "modules/cc-switch-cli"]
	path = modules/cc-switch-cli
	url = https://github.com/SaladDay/cc-switch-cli
[submodule "modules/1skills"]
	path = modules/1skills
	url = https://github.com/scottzx/1skills
[submodule "modules/1acp"]
	path = modules/1acp
	url = https://github.com/scottzx/1acp.git
[submodule "modules/happy-cli"]
	path = modules/happy-cli
	url = https://github.com/scottzx/happy-cli.git
[submodule "modules/superpowers"]
	path = modules/superpowers
	url = https://github.com/obra/superpowers.git
[submodule "modules/gstack"]
	path = modules/gstack
	url = https://github.com/garrytan/gstack.git
